{
  "presets": [
    [
      "env", {
        "modules": false, // Convert to ES2015 modules
      },
    ],
    "react",
    "stage-0",
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel", // Enable react hot loader
      ],
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"], // Convert ES2015 modules to CommonJs because Node6 does not support ES2015 features
    },
  },
}
