.login-container
  width: 100vw
  height: 100vh
  background-position: center;
  background-size: 100vw 100vh
  background-repeat: no-repeat
  background-image: url('./traffic.gif')

.form-container
  position: absolute
  top: 50%
  left: 50%
  transform: translate3d(-50%,-50%,0)
  width: 300px
  text-align: center
  color: white

.sub-title
  span
    &:first-child 
      color: rgb(239,65,53)
    &:nth-child(2)
      color: white
    &:last-child
      color: rgb(0,85,164)

.username,
.password,
.submit
  justify-content: center
  margin: 10px

.username,
.password
  label
    flex: 0 0 70px
    text-align: left
  input
    flex: 0 0 150px
    width: 150px